<% provide(:events_active, 'active') %>

<div class="bg-color">
	<%= render 'eventsnav' %>
	<div class="container">
		<div class="wrapper-bc">
			<section class="header-bc">
<br/>
  				<div class="logo-and-nav-wrap">
			
					<div class="site-nav-wrap">
         				<nav class="nav-bc">
					
							<div class="single-breadcrumb-wrap">
								<span class="sep"><i class="fa fa-caret-right"></i></span> <span class="breadcrumb-bc"><a href="/">Home</a></span>
							</div>
							<div class="single-breadcrumb-wrap">
								<span class="sep">
									<i class="fa fa-caret-right"></i>
								</span>
								<%= link_to 'Events', events_path, :class => "breadcrumb-bc" %>
							</div>					
           					<div class="single-breadcrumb-wrap">
								<span class="sep"><i class="fa fa-caret-right"></i></span> <span class="breadcrumb-bc"><%= link_to @event.event_title, event_path(@event.id) %></span>
							</div>
           					<div class="single-breadcrumb-wrap">
								<span class="sep"><i class="fa fa-caret-right"></i></span> <span class="breadcrumb-bc">Edit</span>
							</div>							
						</nav>
					</div>
				</div>
			</section>
  		</div>		
		<br/>

		<div class="container">
			<h2>Edit <%= @event.event_title %></h2>
			<br/>
			<%= form_for @event, :html => {:multipart => true} do |f| %>

				<div class="form-group row">
					<%= f.label "event_title:" %>
					<div class="col-10">
						<%= f.text_field :event_title %>
					</div>
				</div>

				<div class="form-group row">
					<%= f.label "event_body:" %>
					<div class="col-10">
						<%= f.text_field :event_body %>	
					</div>
				</div>
					
				<div class="form-group row">
					<%= f.label "event_date:" %>
					<div class="col-10">
						<%= f.text_field :event_date %>
					</div>
				</div>

				<div class="form-group row">
					<%= f.label "event_time:" %>
					<div class="col-10">
						<%= f.time_select :event_time %>
					</div>
				</div>

				<div class="form-group row">
					<%= f.label "event_location:" %>
					<div class="col-10">
						<%= f.text_field :event_location %>	
					</div>
				</div>

					<%= f.submit "Submit", class: "btn btn-primary" %>
					<br/>
					<br/>
			<% end %>
		</div>
	</div>
</div>