<% provide(:events_active, 'active') %>

<div class="bg-color">
	<%= render 'eventsnav' %>
	<div class="container">

		<br/>
		<div class="wrapper-bc">
			<section class="header-bc">

  				<div class="logo-and-nav-wrap">
			
					<div class="site-nav-wrap">
         				<nav class="nav-bc">
					
							<div class="single-breadcrumb-wrap">
								<span class="sep"><i class="fa fa-caret-right"></i></span> <span class="breadcrumb-bc"><a href="/">Home</a></span>
							</div>
							<div class="single-breadcrumb-wrap">
								<span class="sep"><i class="fa fa-caret-right"></i></span> <span class="breadcrumb-bc"><%= link_to 'Events', events_path %></span>
							</div>							
           					<div class="single-breadcrumb-wrap">
								<span class="sep"><i class="fa fa-caret-right"></i></span> <span class="breadcrumb-bc">New</span>
							</div>							
						</nav>
					</div>
				</div>
			</section>
  		</div>	

		<br/>

		<%= form_for @event, :html => {:multipart => true} do |f| %>

			<div class="form-group row">
				<%= f.label "event_title:" %>
				<div class="col-10">
					<%= f.text_field :event_title %>
				</div>
			</div>

			<div class="form-group row">
				<%= f.label "event_body:" %>
				<div class="col-10">
					<%= f.text_field :event_body %>	
				</div>
			</div>
				
			<div class="form-group row">
				<%= f.label "event_date:" %>
				<div class="col-10">
					<%= f.text_field :event_date %>
				</div>
			</div>

			<div class="form-group row">
				<%= f.label "event_time:" %>
				<div class="col-10">
					<%= f.time_select :event_time %>
				</div>
			</div>

			<div class="form-group row">
				<%= f.label "event_location:" %>
				<div class="col-10">
					<%= f.text_field :event_location %>	
				</div>
			</div>

			<div class="form-group row">
				<div class="col-10">
					<%= f.submit "Submit", class: "btn btn-primary" %>
				</div>
			</div>
			<br/>
			<br/>

		<% end %>
	</div>
</div>