<h1>Albums#new</h1>
<p>Find me in app/views/albums/new.html.erb</p>

<%= form_for @album, html: { multipart: true } do |form| %>

  <%= form.label :name %>
  <%= form.text_field :name %>
  
  <%= form.label :description %>
  <%= form.text_field :description %>  

  <% if @album.cover_image.present? %>
  	<%= (image_tag album.cover_image.url, style: 'height: 500px; width: 100%; display: block;') %>
  <% end %>

  <%= form.label :cover_image %>
  <%= form.file_field :cover_image %>
  <%= form.submit %>

<% end %>
