<div class="bg-color">
  <div class="container">
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="wrapper-bc">
      <section class="header-bc">

          <div class="logo-and-nav-wrap">
      
          <div class="site-nav-wrap">
            <nav class="nav-bc">
          
              <div class="single-breadcrumb-wrap">
                <span class="sep"><i class="fa fa-caret-right"></i></span> <span class="breadcrumb-bc"><a href="/">Home</a></span>
              </div>
              <div class="single-breadcrumb-wrap">
                <span class="sep">
                  <i class="fa fa-caret-right"></i>
                </span>
                <%= link_to 'Albums', albums_path, :class => "breadcrumb-bc" %>
              </div>         
              <div class="single-breadcrumb-wrap">
                <span class="sep"><i class="fa fa-caret-right"></i></span> <span class="breadcrumb-bc">New Album</span>
              </div>
            </nav>
          </div>
        </div>
      </section>
      </div>    

    <br/>

    <%= form_for @album, html: { multipart: true } do |form| %>

      <div class="form-group row">
        <%= form.label "Name:" %>
        <div class="col-10">
          <%= form.text_field :name %>
        </div>
      </div>
  
      <div class="form-group row">
        <%= form.label "Description:" %>
        <div class="col-10">
          <%= form.text_field :description %>  
        </div>
      </div>

      <div class="form-group row">
        <%= form.label "Cover Image:" %>
        <div class="col-10">
          <%= form.file_field :cover_image %>
        </div>
      </div>
      
      <%= form.submit "Submit", class: "btn btn-primary" %>

      <br/>
      <br/>
    <% end %>
  </div>
</div>