<div class="bg-color">
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<div class="container">

		<div class="wrapper-bc">
			<section class="header-bc">

  				<div class="logo-and-nav-wrap">
			
					<div class="site-nav-wrap">
         				<nav class="nav-bc">
					
							<div class="single-breadcrumb-wrap">
								<span class="sep"><i class="fa fa-caret-right"></i></span> <span class="breadcrumb-bc"><a href="/">Home</a></span>
							</div>
							<div class="single-breadcrumb-wrap">
								<span class="sep">
									<i class="fa fa-caret-right"></i>
								</span>
								<%= link_to 'Albums', albums_path, :class => "breadcrumb-bc" %>
							</div>					
           					<div class="single-breadcrumb-wrap">
								<span class="sep"><i class="fa fa-caret-right"></i></span> <span class="breadcrumb-bc"><%= @album.name %></span>
							</div>
						</nav>
					</div>
				</div>
			</section>
  		</div>

		<div class="float-right">
			<div id="social-media-icons">
				<a href="http://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=<%= request.original_url %>" title="Share on LinkedIn" target="_blank" style="color:#666">
					<i class="fa fa-linkedin fa-2x"></i>
				</a>
			</div>
			<div id="social-media-icons">
				<a href="http://twitter.com/home?status=<%= request.original_url %>" title="Share on Twitter" target="_blank" style="color:#666">
					<i class="fa fa-twitter fa-2x"></i>
				</a>
			</div>
			<div id="social-media-icons">
				<a href="https://www.facebook.com/sharer/sharer.php?u=<%= request.original_url %>" title="Share on Facebook" target="_blank" style="color:#666">
					<i class="fa fa-facebook fa-2x"></i>
				</a>
			</div>
			<div id="social-media-icons">
				<a href="https://plus.google.com/share?url=<%= request.original_url %>" title="Share on Google+" target="_blank" style="color:#666">
					<i class="fa fa-google-plus fa-2x"></i>
				</a>
			</div>
		</div>

		<div class="container gallery-container">
			<% if user_signed_in? %>
				<% if policy(:album).edit? %>
					<small class="pull-right"><%= link_to "Delete", album_path(@album.id), method: :delete,
						data: { confirm: "Are you sure?" }, :style => 'text-decoration: none;' %></small>
					<small class="pull-right">
						<%= link_to edit_album_path, :style => 'text-decoration: none;' do %>
							Edit &nbsp;
						<% end %>
					</small>
					<small class="pull-right">
						<%= link_to upload_path, :style => 'text-decoration: none;' do %>
							Add &nbsp;
						<% end %>
					</small>
				<% end %>
			<% end %>
		    <h1><%= @album.name %></h1>
		    <p class="page-description text-center"><%= @album.description %></p>
		    <div class="tz-gallery">
		        <div class="row">
		        	<% if @images.exists? %>
		        		<% @images.each do |img| %>
		            		<div class="col-sm-6 col-md-3">
		                		<div class="thumbnail">
		                    		<a class="lightbox" href="<%= img.image.url %>">
		                        		<img src="<%= img.image.url %>" alt="Park" style="display: block;width: 100%;height: 250px;">
		                    		</a>
		                    		<% if img.image_title.length>0 or img.image_description.length>0 %>
			                    		<div class="caption">
			                    			<% if img.image_title.length>0 %>
			                        			<h3><%= img.image_title %></h3>
			                        		<% end %>
			                        		<% if img.image_description.length>0 %>
			                        			<p><%= truncate(img.image_description, length:125) %></p>
			                        		<% end %>
			                    		</div>
			                    	<% end %>
		                		</div>
		            		</div>
		            	<% end %>
		            <% else %>
		            	<p>There are no images!</p>
		            <% end %>
		        </div>
		    </div>
		</div>
	</div>
</div>

<div class="digg_pagination justify-content-center">
  <%= will_paginate @images %>
</div>

<script>
    baguetteBox.run('.tz-gallery');
</script>

