<h1>Albums#show</h1>
<p>Find me in app/views/albums/show.html.erb</p>

<div class="container">
	<div style = "float:left; width: 25%;">
		<div id="social-media-icons"><i class="fa fa-linkedin fa-2x"></i></div>
		<div id="social-media-icons"><i class="fa fa-twitter fa-2x"></i></div>
		<div id="social-media-icons"><i class="fa fa-facebook fa-2x"></i></div>
	</div>

	<h2><%= @album.name %></h2>
	<%= @album.description %>
	<%= image_tag @album.cover_image.url %>

	<small class="pull-right"><%= link_to "Delete", album_path(@album.id), method: :delete,
			data: { confirm: "Are you sure?" } %></small>
	<small class="pull-right"><%= link_to "Edit", edit_album_path %></small>
	<small class="pull-right"><%= link_to "Add", upload_path %></small>

	<%= link_to "Home", root_path %>

	<div class="container">
		<div class="row">
			<h2><%= @album.name %></h2>

			<% if @images.exists? %>
				<% @images.each do |img| %>
					<p><%= img.image_title %></p>
					<p><%= img.image_description %></p>
					<p><%= image_tag img.image.url%></p>	
				<% end %>
			<% else %>
			    <p>There are no images!</p>
			<% end %>
		</div>
	</div>
</div>