<% provide(:news_active, 'active') %>

<div class="bg-color">
  <div class="container">
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    <div class="wrapper-bc">
      <section class="header-bc">

          <div class="logo-and-nav-wrap">
      
          <div class="site-nav-wrap">
                <nav class="nav-bc">
          
              <div class="single-breadcrumb-wrap">
                <span class="sep"><i class="fa fa-caret-right"></i></span> <span class="breadcrumb-bc"><a href="/">Home</a></span>
              </div>              
              <div class="single-breadcrumb-wrap">
                <span class="sep"><i class="fa fa-caret-right"></i></span> <span class="breadcrumb-bc">News</span>
              </div>
            </nav>
          </div>
        </div>
      </section>
      </div>      
    <br/>
    <h1>Posts</h1>
    <% if user_signed_in? %>
      <% if policy(:post).edit? %>
        <%= link_to 'New Post', new_post_path, :class => 'pull-right', :style => 'text-decoration: none;' %>
      <% end %>
    <% end %>

    <br />
    <table>


      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td><%= post.title %></td>
            <td><%= post.body.html_safe %></td>
            <td><%= post.description %></td>
            <td><%= link_to 'Show', post, :style => 'text-decoration: none;' %></td>
            <% if user_signed_in? %>
              <% if policy(:post).edit? %>
                <td><%= link_to 'Edit', edit_post_path(post), :style => 'text-decoration: none;' %></td>
                <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, :style => 'text-decoration: none;' %></td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

          <div class="row mb-2">
             <% @posts.each do |post| %>
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary">World</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#"><%= post.title %></a>
              </h3>
              <div class="mb-1 text-muted">Nov 12</div>
              <p class="card-text mb-auto"><%= post.body.html_safe %></p>
              <p class="card-text mb-auto"><%= post.description %></p>
                          <% if user_signed_in? %>
              <% if policy(:post).edit? %>
                <td><%= link_to 'Edit', edit_post_path(post), :style => 'text-decoration: none;' %></td>
                <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, :style => 'text-decoration: none;' %></td>
              <% end %>
            <% end %>
            </div>
            <img class="card-img-right flex-auto d-none d-lg-block" data-src="newst.jpg" alt="">
          </div>
        </div>
        <% end %>
      </div>

    <br>
  </div>
</div>