<div class="bg-color">
	<div class="container">
		<% provide(:news_active, 'active') %>

		<br/>

		<div class="wrapper-bc">
			<section class="header-bc">

  				<div class="logo-and-nav-wrap">
			
					<div class="site-nav-wrap">
         				<nav class="nav-bc">
					
							<div class="single-breadcrumb-wrap">
								<span class="sep"><i class="fa fa-caret-right"></i></span> <span class="breadcrumb-bc"><a href="/">Home</a></span>
							</div>
							<div class="single-breadcrumb-wrap">
								<span class="sep"><i class="fa fa-caret-right"></i></span> <span class="breadcrumb-bc"><%= link_to 'News', posts_path %></span>
							</div>									
							<div class="single-breadcrumb-wrap">
								<span class="sep"><i class="fa fa-caret-right"></i></span> <span class="breadcrumb-bc"><%= @post.title %></span>
							</div>
						</nav>
					</div>
				</div>
			</section>
  		</div>		

		<br />

		<a href="http://twitter.com/home?status=<%= request.original_url %>" title="Share on Twitter" target="_blank" class="btn btn-twitter"><i class="fa fa-twitter"></i> Twitter</a>
		<a href="https://www.facebook.com/sharer/sharer.php?u=<%= request.original_url %>" title="Share on Facebook" target="_blank" class="btn btn-facebook"><i class="fa fa-facebook"></i> Facebook</a>
		<a href="https://plus.google.com/share?url=<%= request.original_url %>" title="Share on Google+" target="_blank" class="btn btn-googleplus"><i class="fa fa-google-plus"></i> Google+</a>
		<a href="http://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=<%= request.original_url %>" title="Share on LinkedIn" target="_blank" class="btn btn-linkedin"><i class="fa fa-linkedin"></i> LinkedIn</a>

		<p>
  			<strong>Title:</strong>
  			<%= @post.title %>
		</p>

		<p>
  			<strong>Body:</strong>
  			<%= @post.body.html_safe %>
		</p>

		<p>
		  <strong>Description:</strong>
		  <%= @post.description %>
		</p>

		<p>
			<strong>Tags:</strong>
			<%= raw @post.tags.map { |t| link_to t.name, posts_path(tag: t.name) }.join(', ') %>
		</p>

		<% if @post.cover_image.exists? %>
			<%= image_tag @post.cover_image.url %>
		<% end %>

		<%= link_to 'Edit', edit_post_path(@post), :style => 'text-decoration: none;' %> |
		<%= link_to 'Back', posts_path, :style => 'text-decoration: none;' %>
		<br/>
		<br/>
	</div>
</div>